h1, .post-title {
 font-weight: 200;
 font-size: 32px;
}
a {
 cursor: pointer;
}
#iam {
 margin-bottom: 50px;
}
#iamlist, #involvedlist {
 list-style-type: none;
 border-collapse:separate;
 display:table;
 border-spacing: 3px;
}
#iamlist li, #involvedlist li {
 display : inline;
}
#iamlist a, #involvedlist a {
 display: table-cell;
 text-align: center;
 vertical-align: middle;
 width: 180px;
 height: 150px;
 border: 3px solid black;
 font-weight: bold;
 color: #fff;
 border-radius: 10px;
}
#iamlist a, #involvedlist a {
 background-blend-mode: multiply;
}

#iamlist a#personal {
 background: url('/assets/personal.jpg') no-repeat 0 0;
 background-color: rgba(78, 151, 178, .7);
 border: 3px solid rgb(78, 151, 178);
}
#iamlist a#personal:hover {
 background-color: rgba(78, 151, 178, .9);
}

#iamlist a#parent {
 background: url('/assets/parent.jpg') no-repeat 0 0;
 background-color: rgba(128, 186, 67, .7);
 border: 3px solid rgb(128, 186, 67);
}
#iamlist a#parent:hover {
 background-color: rgba(128, 186, 67, .9);
}
#iamlist a#professional {
 background: url('/assets/professional.jpg') no-repeat 0 0;
 background-color: rgba(140, 70, 223, .7);
 border: 3px solid rgb(140, 70, 223);
}
#iamlist a#professional:hover {
 background-color: rgba(140, 70, 223, .9);
}

#iamlist a#autisme {
 width: 565px;
 background: url('/assets/autisme.jpg') no-repeat 0 0;
 background-color: rgba(229, 90, 124, 0.7);
 border: 3px solid rgb(229, 90, 124);
/*
 border: 3px solid rgb(204, 91, 117);
*/
}
#iamlist a#autisme:hover {
 background-color: rgba(229, 90, 124, 0.9);
}

/*
#involvedlist {
 margin-top: 30px;
}
*/
#involvedlist a#construire-une-societe-inclusive {
 width: 375px;
 background: url('/assets/construire-une-societe-inclusive.jpg') no-repeat 0 0;
 background-color: rgba(244, 158, 76, 0.7);
 border: 3px solid rgb(244, 158, 76);
/*
 font-size: 1.2em;
*/
}
#involvedlist a#construire-une-societe-inclusive:hover {
 background-color: rgba(244, 158, 76, 0.9);
}

#involvedlist a#prenez-la-parole {
 background: url('/assets/prenez-la-parole.jpg') no-repeat 0 0;
 background-color: rgba(27, 56, 100, 0.7);
 border: 3px solid rgb(27, 56, 100);
}
#involvedlist a#prenez-la-parole:hover {
 background-color: rgba(27, 56, 100, 0.9);
}

.more-articles {
 background-color: #5994e2;
 padding: 10px;
 border-radius: 10px;
 text-align: center;
 width: 25%;
 margin: 0 auto 0 auto;
 color: #fff;
 display: block;
}
.more-articles:visited {
 color: #fff;
}
.more-articles:hover {
 background-color: #2a7ae2;
}

.post-list > li .post- {
 display: flex;
 flex-direction: row;
 flex-wrap: nowrap;
}

.post-list > li .post-thumb {
 display: block;
 flex: 0 0 200px;
 width: 250px;
 height: 125px;
 object-fit: fill;
 margin-right: 20px;
}

.post-list > li .post-excerpt {
 flex: 1 0 100px;
 display: block;
 text-align: justify;
}

.post-link {
 display: block;
 font-size: 1em;
 cursor: pointer;
}

.post-link:hover h2 {
 color: #111;
 text-decoration: underline;
}

.post-link .post-excerpt {
 color: #111;
}
.post-link:hover { 
 text-decoration: none;
}
.post-link .next-reading {
 color: #2a7ae2;
}

.post-link:hover .next-reading {
 text-decoration: underline;
}
/*
.post-list > li .post-thumb {
 float: left;
 width: 250px;
 height: 200px;
 object-fit: fill;
 margin: 0 30px 30px 0;
}
*/

img.right {
 float: right;
 padding-left: 20px;
}

img.left {
 float: left;
 padding-right: 20px;
}

img.center {
 padding: 20px;
 display: block;
 margin: 0 auto;
}
