#iamlist, #inclusivelist {
 list-style-type: none;
}
#iamlist li, #inclusivelist li {
 display : inline;
}
#iamlist a, #inclusivelist a {
 display: table-cell;
 text-align: center;
 vertical-align: middle;
 width: 180px;
 height: 150px;
 border: 3px solid black;
 padding: 3px;
 font-weight: bold;
 color: #fff;
}
#iamlist a#personal {
 background: url('/assets/personal.jpg') no-repeat 0 0;
}
#iamlist a#parent {
 background: url('/assets/parent.jpg') no-repeat 0 0;
}
#iamlist a#professional {
 background: url('/assets/professional.jpg') no-repeat 0 0;
}
#inclusivelist {
 margin-top: 30px;
}
#inclusivelist a#construire-une-societe-inclusive {
 width: 573px;
 background: url('/assets/construire-une-societe-inclusive.jpg') no-repeat 0 0;
}
