---
layout: page
---

<p>Lorsque nous sommes confronté à l'autisme pour la première fois, nous ne savons généralement pas comment interagir avec la personne. Nous nous posons pleins de questions. La personne peut-elle faire ceci&nbsp;? Comment puis-je aider la personne&nbsp;?
De même, si vous êtes une personne autiste, se poser des questions comme «&nbsp;comment puis-je faire pour avoir des amis ?&nbsp;» est quelque chose de normal.</p>

<p>Nous vous proposons ici de répondre aux questions qui sont souvent posées.
Si vous avez une question dont la réponse n'est pas dans cette liste, n'hésitez pas à 
nous la <a href="/a-propos#nous-contacter">transmettre par email</a> ou sur twitter <a href="https://twitter.conf/BastienBConfais">@BastienBConfais</a>.</p>

<div class="center">
 <amp-iframe layout="responsive" width="780" height="10000" sandbox="allow-scripts allow-top-navigation" src="{{ site.url }}/html/faq.html{% if page.question.number %}#{{ page.question.number }}{% endif %}">
  <amp-img layout="fill" src="{{ site.amp_img_cache_url }}/html/faq.png" placeholder></amp-img>
 </amp-iframe>
</div>

