---
layout: default
---

<div class="home">

  {{ content }}

  <h1 class="page-heading">Blog</h1>
  
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
	<div class="post-">
		{% if post.oembed_image %}
		<img class="post-thumb" src="{{ post.oembed_image | relative_url }}" />
		{% endif %}
		<div class="post-excerpt">
	        {{ post.excerpt }}
		<p><a class="next-reading" href="{{ post.url | relative_url }}">Lire la suite</a></p>
		</div>
	</div>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
